{% extends 'webapp/base.html'%}
{% block title %}Register{% endblock %}
{% block body %}
<style>
    input[type=text] {
      box-sizing: border-box;
      border-color: rgba(69, 199, 204, 0.726);
      background-color: rgb(199, 199, 199);
      border-radius:8px;
      border-width: 3.5px;
      
    }
    #id_password {
        box-sizing: border-box;
      border-color: rgba(69, 199, 204, 0.568);
      background-color: rgb(199, 199, 199);
      border-radius:8px;
      border-width: 3.5px;
      width: 230px;
      height: 0.90cm;
    }
    #login_panel {
      color: black;
      border-radius: 25px;
      border: 2px solid rgb(181, 134, 235);
      padding: 20px;
      width: 63rem;
      margin-left: 24rem;
      box-shadow: 10px 10px 5px rgb(180, 175, 175);
      background: rgb(14, 11, 11);
    }
    </style>
    <br>
<div class="container col-md-8">

    <div id="login_panel" style="margin-left: 16rem; font-family: Avenir; font-size: 18px; color: white;">
        <h3 style ="margin-left: 15rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 25px;"><strong>Register for an Account</strong></h3>

    <div class="row">
        <div class="col-sm-10 col-md-6d col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <br>

                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                       {% include 'webapp/form_template.html' %}
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success btn-lg" style="width: 80px; ">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
                
                <div class="panel-footer">
                    Already have an account? <a href="{% url 'login' %}">Click here</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}